.InputText {
  caret-color: #00ffff;
  margin: 10px;
  background-color: #000000;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  border-radius: 15px;
  width: 80%;
  height: 40%;
  text-align: justify;
  padding: 15px;
}

.Button {
  margin: 10px;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  border-radius: 15px;
  border: 1px solid aqua;
  background-color: #000000;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s all;
}

.Button:hover {
  background-color: rgba(13, 150, 150, 0.219);
}

@media (prefers-color-scheme: light) {
  .InputText {
    background-color: #d3cfcf;
    caret-color: #000000;
    border: 2px solid #000000;
  }

  .Button {
    background: #f3f3f3;
  }

  .Button:hover {
    background-color: rgba(13, 150, 150, 0.466);
  }
}
