* {
  box-sizing: border-box;
}

html,
body {
  background: #000;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-family: 'VT323', monospace;
  color: aqua;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: aqua;
  /* outline: 1px solid slategrey; */
}

@media only screen and (min-width: 428px) {
  body {
    background-image: url('../public/img/bgImg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}


@media (prefers-color-scheme: light) {
  body {
    color: #000000;
  }
}